
{{!< default}}

<header id="blog-header"{{#if tag.feature_image}} class="has-cover"{{else}}{{#if @blog.cover_image}} class="has-cover"{{/if}}{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.logo}}
			<span class="blog-logo">
				<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@blog.url}}" title="Home"><i class="ic ic-arrow-left"></i> {{t "Home"}}</a>
			</span>
			{{/if}}
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> {{t "Menu"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="blog-name">
			{{tag.name}}
			{{#tag}}
			{{#has slug="arabisk"}} <span class="arabic"> - العربية
			{{else has slug="spansk"}} <span> - español
			{{else has slug="katalansk"}} <span> - català
			{{else has slug="fransk"}} <span> - français
			{{else has slug="mandarin"}} <span class="chinese"> - 中文
			{{else has slug="swahili"}} <span> - kiswahili
			{{else has slug="nederlandsk"}} <span> - nederlands
			{{else has slug="norsk"}} <span> - morsmålet
			{{else has slug="japansk"}} <span class="japanese"> - 日本語
			{{else has slug="hindi"}} <span class="hindi"> - हिन्दी
			{{else has slug="litauisk"}} <span> - lietuvių kalba

			{{else has slug="kanji"}} - <span class="japanese">漢字
			{{else has slug="kinesiske-tegn"}} - <span class="chinese">汉字

			</span>
			{{/has}}
			{{/tag}}

		</h1>


		<span class="blog-description">
		{{#if tag.description}}
			{{tag.description}}
		{{else}}
			{{t "Posts"}}: {{pagination.total}}
		{{/if}}
		</span>
		{{#if tag.feature_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url tag.feature_image}}');"></div>
		{{else}}
		{{#if @blog.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
		{{/if}}
		{{/if}}
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">

		{{> "loop"}}

	</main>

</div>
